@charset "UTF-8";
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 

* {padding:0; margin:0;}
body, html { width:100vw; overflow-x:hidden;font-family: 'GmarketSans';}
.clr-fix { clear:both; }
.clr-fix:after { content:""; display:block; width:100%; clear:both;}
li {  text-decoration: none; list-style: none; }
a {text-decoration:none; color:#000;}
a:hover {text-decoration:none; color:#000;}


h1, h2, h3 { font-weight:900; margin-bottom:0;}
h4, h5, h6 { font-weight:600; margin-bottom:0;}
#header { clear:both; height:auto; min-width:1200px; width:100vw; position:fixed; top:0; z-index:999;}

ul { list-style:none; margin:0; padding:0;}

#hd { min-width:1200px; width: 100%; height: 100px; background-color:rgba(255,255,255,1); position: fixed; top: 0; z-index: 2; transition:0.3s; }
.hd_wrap { position:relative; clear:both; width: 100%; min-width:800px; margin: 0 auto; }
#header { position: fixed; height:100px; top: 0; width: 100%; z-index: 100;}
#logo { width: 129px; height: 80px; position: absolute; top: 10px; left: 10px; object-fit:contain;}
#gnb { max-width:70%; position: absolute; top: 0px; width: 70%; height:100%; left:50%; transform:translate(-50%,0);}
.menu { margin: 0 auto; padding: 0 auto; display: flex; }
.menu > li { margin-top: 20px; text-align: center; color: white; margin-right: 0; }

#gnb a.dp1 { display: block; font-weight: bold; font-size:20px; color:#333; line-height: 80px; }
#gnb a.dp2 { font-weight:100; display: none; margin-top: 20px; font-size: 20px; background-color: rgba(255, 255, 255, 0); }
#gnb li:hover a.dp1 { display: block; background-color: rgba(255, 255, 255, 0); }
#gnb li:hover a.dp2 { display: block; background-color: rgba(255, 255, 255, 0); }
#gnb li:hover a.dp1, #gnb li:hover a.dp2 { color: white !important; }
/* 링크 색상과 밑줄 제거 */
#gnb a, .login a { text-decoration: none; color: inherit; }

.menu > li > a { display: block; font-weight: bold; font-size: 20px; background-color: rgba(255, 255, 255, 0);}
.menu > li > ul > li > a { display: block; font-size: 16px; background-color: rgba(255, 255, 255, 0); }
#logo { margin-left: 200px; }
.login { position: absolute; top: 20px; right: 20px; display: flex; align-items: center; margin-top: 27px; margin-right: 200px; font-weight: normal; }
.login > ul { display: flex; }
.login > ul > li { margin-right: 10px;  color:#333; }
.login > ul > li:last-child { margin-right: 0; }
.login > li > a { font-size: 16px; text-decoration: none; }
.category { width: calc((100% - 40px) / 3); text-align: center; margin-bottom: 20px; position: relative; }
/* 각 메뉴 항목에 호버했을 때 검은색 배경 효과 */
.category::after { content: ''; position: absolute; left: 50%; top: -30px; bottom: -20px; transform: translateX(-50%); width: 100%; height: calc(100% + 60px);
    background-color: rgba(0, 0, 0, 0.8); z-index: -1; border-radius: 0px 0px 15px 15px; opacity: 0; transition: 0.3s ease; }
.category:hover::after { opacity: 1; }
/* INTRO와 서브메뉴 사이에 수평선 */
.category a.dp1 { position: relative; }
.category a.dp1::after { content: ""; position: absolute; bottom: 0px; left: 50%; transform: translateX(-50%);
    width: calc(100% - 10px); height: 1px; background-color: white; opacity: 0; transition: 0.3s; }
/* INTRO와 서브메뉴 사이 수평선이 포함된 공간 */
.category ul.sub { margin-top: 0px; padding-top: 10px; }
/* 호버 시 수평선 표시 */
.category:hover a.dp1::after { opacity: 1; }



#contents { clear:both; }
#vs { clear:both; width:100vp; height:100%; overflow:hidden; margin:0 auto;}
#vs img { display:block; width:100%;}
#vs #carouselExampleControls {width:100%; height:100%;}
#vs .carousel-inner {width:100%; height:100%;}
#vs .carousel-inner .carousel-item {width:100%; height:100%;}
.page {max-width:100vw;}
.page_title { padding-bottom:1.4rem; }
.page#page1 {height:100vh;}
.page#page2 #cityimg {background:center center; background-color:#FFF; width:100%; height:100%; background-size:100%; transition: background 0.5s; }
.page#page2 #cityimg:hover {background:center center; background-size:120%; transition: background 0.5s;}
.carousel_h1 > h1, p { color:#FFF; text-align:center;}
.carousel_h2 > h1, p { color:#333; text-align:center;}
.jumbotron {background-color:#dcfae4; border-radius:24px; margin-top:32px;
padding:2rem; font-size:1.4rem; }
.map_data { width:400px; height:auto; }
.map_data img { display:block; width:100%; height:auto; }
.vs_data { width:100%; margin:15px auto; }
.vs_data img {  display:block; width:100%; height:auto; }
.ft_wrap { width:100%; margin:0 auto; }
footer {min-width:960px;}
#fnb { min-width:960px; width:800px; height:48px; float:left; }
#fnb ul { list-style:none; margin:0px; padding:0 0 0 100px; clear:both; height:48px;}
#fnb li { float:left; width:150px; text-align:left; line-height:48px; }
#fnb li a { color:#fff; }
#loc { width:100px; height:30px; line-height:30px; margin-top:10px; float:right; margin-right:100px; }
#copyright { clear:both; margin-top:18px; width:100%; }

#footer { background-color:#2c2c2c; padding-top:20px; padding-bottom:40px; 
color:#fff; }

.card_midium_horizontal { width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden; white-space: nowrap; }
.card_midium_horizontal > div {width: max-content;}
.card_midium_horizontal::-webkit-scrollbar {height:10px; width: 20%;}
.card_midium_horizontal::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.25); border-radius: 5px;}
.card_midium_horizontal_div {display: block; float: left; }
.card_midium_horizontal_div h3 {padding-top:1rem; font-weight:900;}
.card_midium_horizontal_div span {font-weight:900;}
.card_midium_horizontal_div p {width:100%; height:96px; overflow:hidden; white-space:normal; text-overflow:ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; text-align:left;}
.card_midium_horizontal_div > div {width: 297px;  margin:10px; padding:0; border:1px solid rgba(0,0,0,0.3); border-radius:10px; overflow:hidden; box-shadow:0px 4px 4px 4px rgba(0,0,0,0.1);}
.card_midium_horizontal_div_txt {padding: 0 15px;}
.card_midium_horizontal_div_img {display:flex; justify-contents:center; align-items:center; width:295px; height:254px;}
.card_midium_horizontal_div_img > img { display:block; clear:both; width:100%; object-fit: cover; height:100%;}

.card_midium_board { width: 1200px; height: auto; overflow:hidden}
.card_midium_board > div {width: 100%;}
.card_midium_board_div {display: block; float: left; }
.card_midium_board_div h3 {padding-top:1rem; font-weight:900;}
.card_midium_board_div span {font-weight:900;}
.card_midium_board_div p {width:100%; height:96px; overflow:hidden; white-space:normal; text-overflow:ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; text-align:left;}
.card_midium_board_div > div {width: 297px;  margin:10px; padding:0; border:1px solid rgba(0,0,0,0.3); border-radius:10px; overflow:hidden; box-shadow:0px 4px 4px 4px rgba(0,0,0,0.1);}
.card_midium_board_div_txt {padding: 0 15px;}
.card_midium_board_div_img {display:flex; justify-content:center; align-items:center; width:295px; height:254px;}
.card_midium_board_div_img > img { display:block; clear:both; width:102%; height: 102%; object-fit: cover; height:100%;}

.card_small_board { width: 1500px; height: auto; overflow:hidden}
.card_small_board_div {display: block; float: left; }
.card_small_board_div h3 { font-weight:500; font-size:16pt; overflow:hidden; white-space:normal; text-overflow:ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-align:left;}
.card_small_board_div > div {width: 320px; height:300px;  margin:10px; padding:0;overflow:hidden;border:1px solid rgba(0,0,0,0.2); }
.card_small_board_div:hover > div {width: 320px; height:300px;  margin:10px; padding:0; border:1px solid rgba(0,0,0,0.2); overflow:hidden; box-shadow:0px 0px 4px 4px rgba(0,0,0,0.1); transition:0.3s}
.card_small_board_div_txt {padding: 30px 15px; }
.card_small_board_div_txt h3 {font-size : 14pt; text-align:center; color:#333;}
.card_small_board_div_img {display:flex; justify-content:center; align-items:flex-start; width:320px; height:200px;}
.card_small_board_div_img > img { display:block; clear:both; width:102%; height: 102%; object-fit: cover; height:100%;}

#hash_box {clear: both; width: 100vw; height: 100px; display: flex; align-items:center; justify-content: center;}
#hash_box::after{clear: both; content: '';}
.hash { transition: 0.3s; margin: 5px; float:left; width: max-content;height: auto; border: 1px solid rgba(0, 0, 0, 0.3); padding: 7px 10px; border-radius: 20px;}
.hash:hover { background-color: dodgerblue; margin: 5px; float:left; width: max-content;height: auto; border: 1px solid rgba(0, 0, 0, 0.3); padding: 7px 10px; border-radius: 20px;}
.hash:hover a {color: #FFF;}

.bread_crumb {padding-left: 200px; width: 100vw; height: 50px; background-color: rgba(0, 0, 0, 0.03); display: flex; align-items: center;}
.bread_crumb_icon {padding: 0px 20px;}

.board_gallary_list {width:100%; text-align:center; padding:150px; }
.board_gallary_list h1 {font-size:48pt;}

.board_gallary_detail {width: 100vw; height: 200px; display: flex; justify-content: center; align-items: center;}
.board_gallary_detail h1 {font-size: 48px; line-height: 100%;}
.board_gallary_detail h2 {font-size: 32px; color: #999; font-weight: 100;}

.review_area {float: left; margin: 30px 0; clear: both;}
.review_are::after {clear: both; content: '';}
.review_area span {margin: 0 30px; font-size: 20px; font-weight: 700; color: rgba(0, 0, 0, 0.8);}

.board_tab {clear: both; width: 100%; height: 50px; display: flex; justify-content: center; align-items: center; text-align: center; line-height: 50px; font-size: 18pt; font-weight: 500;}
.board_tab a {background-color:#FFF; width:25%; height:100%; border-bottom:1px solid rgba(0,0,0,0.3);}
.board_tab a:hover {background-color:#EEE; border-bottom:1px solid rgba(0,0,0,0.7); transition: 0.3s; }

/* bootstrap 게시판 _ 사용자설정 style부여 */
.row {margin-left:0; margin-right:0;}

/* sidebar */
#snb {position:fixed; bottom:50%; transform:translate(0,50%); z-index:999;}
.snb_div2 ul {width:100%; height:100%;}
.snb_div2 ul li {width:100%; height:25%; background-color:rgba(255,255,255,0); display:flex; justify-content:center; align-items:center; position:relative; transition:0.3s; transition:0.3s;}
.snb_div2 ul li a {color:#FFF; font-size:24pt; font-weight:500; border:1px solid rgba(255,255,255,0); background-color: rgba(255,255,255,0); padding:3px; border-radius:50px; transition:0.3s;}
.snb_div2 ul li:hover { transition:0.3s;}
.snb_div2 ul li:hover a {color:#000; font-size:28pt; font-weight:500; border:1px solid rgba(255,255,255,1); background-color: rgba(255,255,255,0.5); padding:15px 25px 10px 25px; transition:0.5s;}